{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1">
<title>Contact | TECH BLOG</title>
<meta name="description" content="Depending on the content, I may not be able to reply. Also, replies may be delayed. I apologize in advance. I am sorry.">
<link rel="stylesheet" href="/static/css/contact.css?{% now 'U' %}">
<link rel="canonical" href="https://sohtani.pythonanywhere.com/contact/">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="manifest" href="/static/json/manifest.json">
<script>
if ('serviceWorker' in navigator) {
	window.addEventListener('load', function() {
		navigator.serviceWorker.register('../sw.js').then(function() { console.log('Service Worker Registered');
		},function(err) {
		console.log('ServiceWorker registration failed: ', err);
		});
	});
}
</script>
</head>
<body id="top">
<div class="l-wrapper">
{% include './include/l_header.html' %}
<main class="l-main">
	<div class="l-contents">
		<div class="l-container">
		  <p class="l-contents__title">CONTACT</p>
		  <div class="l-container__inner">
			<article class="l-article__contact">
				<div class="p-contact">
				<form class="p-contact__form" action="{% url 'bbs:contact_form' %}" method="post">
				{% csrf_token %}
				{{ form.subject }}
				{{ form.sender }}
				{{ form.message }}
				{{ form.myself }}
				<label for="box">Receive the same</label>
				<div class="p-contact__text">
					<h1 class="p-contact__h1">Depending on the content, I may not be able to reply.<br>Also, replies may be delayed. I apologize in advance. I'm sorry.</h1>
					<h2 class="p-contact__h2">Did you check before sending?</h2>
				</div>
				<button id="submit" class="c-button__submit" type="submit">SEND</button>
				</form>
				</div>
			</article>
			{% include './include/l_aside.html' %}
		  </div>
			<ol class="c-breadcrumbs">
				<li class="c-breadcrumbs__item">
					<a href="{% url 'bbs:index' %}" title="home">
						<i class="icon-home3"></i>
					</a>
				</li>
				<li class="c-breadcrumbs__item">contact</li>
			</ol>
		</div>
	</div>
	{% include './include/l_author.html' %}
</main>
{% include './include/l_footer.html' %}
</div>
<script defer src="/static/js/main.js?{% now 'U' %}"></script>
<script type="application/ld+json">[{"@context": "https://schema.org","@type": "SiteNavigationElement","hasPart": [{"@type": "WebPage","name": "HOME","url": "https://sohtani.pythonanywhere.com/"},{"@type": "CollectionPage","name": "PYTHON","url": "https://sohtani.pythonanywhere.com/category/python/"},{"@type": "CollectionPage","name": "TOOL","url": "https://sohtani.pythonanywhere.com/category/tool/"},{"@type": "WebPage","name": "FITNESS","url": "https://sohtani.pythonanywhere.com/fitness/"},{"@type": "ContactPage","name": "CONTACT","url": "https://sohtani.pythonanywhere.com/contact/"},{"@type": "WebPage","name": "GitHub","url": "https://github.com/shim369"}]}]</script>
<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-C4QW4L4G4R"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-C4QW4L4G4R');
</script>
</body>
</html>