{% load static %}<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1">
<title>Fitness Boxing - BMI is bad results, so I start exercising with Switch's Fitness Boxing.</title>
<meta name="description" content="Perhaps because I've gained weight recently, I get tired easily and get sick easily, so I decided to measure my BMI.I thought about making my own BMI with python I was learning and measuring it, so I created a BMI Calculator.I start exercising today with the game Fitness Boxing for Nintendo Switch.">
<meta property="og:title" content="Fitness Boxing - BMI is bad results, so I start exercising with Switch's Fitness Boxing.">
<meta property="og:type" content="article">
<meta property="og:description" content="Perhaps because I've gained weight recently, I get tired easily and get sick easily, so I decided to measure my BMI.I thought about making my own BMI with python I was learning and measuring it, so I created a BMI Calculator.I start exercising today with the game Fitness Boxing for Nintendo Switch.">
<meta property="og:image" content="https://sohtani.pythonanywhere.com/media/fitness.jpg">
<meta property="og:url" content="https://sohtani.pythonanywhere.com/fitness/">
<meta property="og:site_name" content="TECH BLOG">
<meta property="og:locale" content="en">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="TECH BLOG">
<meta name="twitter:title" content="Fitness Boxing - BMI is bad results, so I start exercising with Switch's Fitness Boxing.">
<meta name="twitter:description" content="Perhaps because I've gained weight recently, I get tired easily and get sick easily, so I decided to measure my BMI.I thought about making my own BMI with python I was learning and measuring it, so I created a BMI Calculator.I start exercising today with the game Fitness Boxing for Nintendo Switch.">
<meta name="twitter:image" content="https://sohtani.pythonanywhere.com/media/fitness.jpg">
<meta name="twitter:url" content="https://sohtani.pythonanywhere.com/fitness/">
<meta name="theme-color" content="#161719">
<link rel="stylesheet" href="/static/css/detail.css?{% now 'U' %}">
<link rel="canonical" href="https://sohtani.pythonanywhere.com/fitness/">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="manifest" href="/static/json/manifest.json">
</head>
<body id="top">
	<div class="l-wrapper">
	{% include './include/l_header.html' %}
	<main class="l-main">
		<div class="l-contents">
		  <div class="l-container">
			<p class="l-contents__title">FITNESS</p>
			<div class="l-container__inner">
				<article class="l-article">
					<div class="p-article">
					<div class="p-article__head">
					  <p class="p-article__category"><span>LIFE</span></p>
					  <h1 class="p-article__title">Fitness Boxing - BMI is bad results, so I start exercising with Switch's Fitness Boxing.</h1>
					  <p class="p-article__date">
						<time class="p-article__time" datetime="2022-12-18"><i class="icon-clock2"></i>2022/12/18</time>
						<time class="p-article__time" datetime="{{ pngDateTime }}"><i class="icon-spinner11"></i>{{ pngDate }}
						</time>
					  </p>
					</div>
					<figure class="p-article__thumbnail">
						<picture>
						  <source srcset="/media/fitness.webp" type="image/webp" width="868" height="400">
						  <img src="/media/fitness.jpg" width="868" height="400" alt="weight">
						</picture>
					</figure>
					<div class="p-article__body">
					<p>Perhaps because I've gained weight recently, I get tired easily and get sick easily, so I decided to measure my BMI.</p>
					<p>I thought about making my own BMI with python I was learning and measuring it, so I created a BMI Calculator.</p>
					<p>Please try it yourself.</p>
					<h2>Calculate BMI with BMI Calculator based on height and weight.</h2>
					<p>Enter your height and weight and press the SEND BUTTON to measure your BMI.</p>
					<form action="{% url 'bbs:chart_data' %}" method="post">
						{% csrf_token %}
					<table class="p-article__table__bmi1">
					<tr><th colspan="2">BMI Calculator</th></tr>
					<tr>
						<td><label>Height(cm)<br>{{ bmi_form.height }}</label></td>
						<td><label>Weight(kg)<br>{{ bmi_form.weight }}</label></td>
					</tr>
					<tr>
						<td colspan="2"><button id="submit" type="submit" class="c-button__submit">SEND</button></td>
					</tr>
					{% if bmi %}
					<tr>
						<td colspan="2"><div class="bmi-result">BMI = <span>{{bmi}}</span></div></td>
					</tr>
					{% endif %}
					</table>
					</form>

					<h2>BMI（Body Mass Index） by WHO</h2>
					<p>Compare BMI results with the BMI table for adults published by WHO.</p>
					<p>It is used for both men and women, age 20 or older.</p>
					<p>As you measure with BMI Calculator, the table will be colored according to your BMI result.</p>
					<table class="p-article__table__bmi2">
						<tbody>
						<tr>
						  <th><strong>Classification</strong></th>
						  <th><strong>BMI（kg/m<sup>2</sup>）</strong></th>
						</tr>
						<tr {% if bmi < 16.00 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td><span>Severe thinness</span></td>
						  <td><span>- 16.00</span></td>
						</tr>
						<tr {% if bmi >= 16.00 and bmi < 17.00 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td><span>Moderate thinness</span></td>
						  <td><span>16.00 - 17.00</span></td>
						</tr>
						<tr {% if bmi >= 17.00 and bmi < 18.50 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td>Mild thinness</td>
						  <td>17.00 - 18.50</td>
						</tr>
						<tr {% if bmi >= 18.50 and bmi < 25.00 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td>Normal range</td>
						  <td>18.50 - 25.00</td>
						</tr>
						<tr {% if bmi >= 25.00 and bmi < 30.00 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td>Pre-obese</td>
						  <td>25.00 - 30.00</td>
						</tr>
						<tr {% if bmi >= 30.00 and bmi < 35.00 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td>Obese class1</td>
						  <td>30.00 - 35.00</td>
						</tr>
						<tr {% if bmi >= 35.00 and bmi < 40.00 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td>Obese class2</td>
						  <td>35.00 - 40.00</td>
						</tr>
						<tr {% if bmi >= 40.00 %}class="p-article__table__bmi2__bgcolor"{% endif %}>
						  <td>Obese class3</td>
						  <td>40.00 -</td>
						</tr>
				  		</tbody>
					</table>
					<h2>I found out I was slightly obese, so I started dieting with Nintendo Switch Fitness Boxing.</h2>
					<p class="u-text-center"><img src="/media/fitboxing.jpg" width="640" height="393" alt="Fitness Boxing"></p>
					<p>*This image was created by an AI tool called Midjourney.</p>
					<p>My BMI was 28.38, which turned out to be slightly overweight, so I decided to start dieting.</p>
					<p>I start exercising today with the game Fitness Boxing for Nintendo Switch.</p>
					<p>In addition, the results of the exercise will be published in the following graphs that are automatically updated by python.</p>
					<p>I will also introduce how to create graphs with python at a later date.</p>
					<p class="u-text-center"><img src="/media/weight.png" width="640" height="512" alt="weight graph"></p>
					<p>The Fitness Boxing game is a great way to have fun exercising at home even on rainy days.</p>
					<p>Let's challenge together!</p>
					</div>
				</div>
				</article>
				{% include './include/l_aside.html' %}
			</div>
			<ol class="c-breadcrumbs">
				<li class="c-breadcrumbs__item">
					<a href="{% url 'bbs:index' %}" title="home">
						<i class="icon-home3"></i>
					</a>
				</li>
				<li class="c-breadcrumbs__item">
				[Fitness] BMI is bad results, so I start exercising with Switch's Fitness Boxing.
				</li>
			</ol>
		  </div>
		</div>
	{% include './include/l_author.html' %}
	</main>
	{% include './include/l_footer.html' %}
	</div>
<script defer src="/static/js/main.js?{% now 'U' %}"></script>
<script>
if ('serviceWorker' in navigator) {
	window.addEventListener('load', function() {
		navigator.serviceWorker.register('/sw.js').then(function() { console.log('Service Worker Registered');
		},function(err) {
		console.log('ServiceWorker registration failed: ', err);
		});
	});
}
</script>
<script type="application/ld+json">[{"@context": "https://schema.org","@type": "SiteNavigationElement","hasPart": [{"@type": "WebPage","name": "HOME","url": "https://sohtani.pythonanywhere.com/"},{"@type": "CollectionPage","name": "PYTHON","url": "https://sohtani.pythonanywhere.com/category/python/"},{"@type": "CollectionPage","name": "TOOL","url": "https://sohtani.pythonanywhere.com/category/tool/"},{"@type": "WebPage","name": "FITNESS","url": "https://sohtani.pythonanywhere.com/fitness/"},{"@type": "ContactPage","name": "CONTACT","url": "https://sohtani.pythonanywhere.com/contact/"},{"@type": "WebPage","name": "GitHub","url": "https://github.com/shim369"}]}]</script>
<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-C4QW4L4G4R"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-C4QW4L4G4R');
</script>
</body>
</html>