{% load static %}<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
<link href="/static/css/index.css?{% now 'U' %}" rel="stylesheet">
<title>TECH BLOG</title>
<meta property="og:title" content="TECH BLOG">
<meta property="og:type" content="website">
<meta property="og:description" content="TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.">
<meta property="og:image" content="https://sohtani.pythonanywhere.com/media/icon-b.png">
<meta property="og:url" content="https://sohtani.pythonanywhere.com/">
<meta property="og:site_name" content="TECH BLOG">
<meta property="og:locale" content="en">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="TECH BLOG">
<meta name="twitter:title" content="TECH BLOG">
<meta name="twitter:description" content="TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.">
<meta name="twitter:image" content="https://sohtani.pythonanywhere.com/media/og-image.png">
<meta name="twitter:url" content="https://sohtani.pythonanywhere.com/">
<meta name="description" content="TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.">
<meta name="theme-color" content="#161719">
<link rel="preconnect" href="https://ajax.googleapis.com">
<link rel="dns-prefetch" href="https://ajax.googleapis.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="canonical" href="https://sohtani.pythonanywhere.com/">
<link rel="apple-touch-icon" href="/media/icon-s.png">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="manifest" href="/static/json/manifest.json">
</head>
<body id="top">
<div class="l-wrapper">
{% include './include/l_header.html' %}
<main class="l-main">
	<section class="p-hero">
		<div class="p-hero__container">
			<div class="p-hero__catch">
			<h1 class="p-hero__h1"><img src="/media/h1.svg?{% now 'U' %}" width="798" height="156" alt="WEB DEVELOPMENT AND LIFE BLOG"></h1>
			<p class="p-hero__text">This is a blog where I output web technologies and tools I have learned in my daily life.<br>It is only a small amount of notes, so you will only get a hint or two,<br>but I hope you will visit here from time to time. Thank you from Japan.</p>
			</div>
			<div class="p-hero__slide-wrap">
				<div class="p-hero__slide-box">
					<picture class="p-hero__picture current">
						<source srcset="/media/device.webp" type="image/webp">
						<img src="/media/device.png" alt="TECH BLOG slide1" width="652" height="478">
					</picture>
				</div>
			</div>
		</div>
		<div class="p-hero__slider"></div>
	</section>
	<div class="l-contents">
		<div class="l-container">
		<p class="l-contents__title">BLOG</p>
		<div class="l-container__inner">
		<article class="l-article u-bg-none">
			{% include './include/c_card.html' %}
			{% include './include/c_pagination.html' %}
		</article>
		{% include './include/l_aside.html' %}
		</div>
		<ol class="c-breadcrumbs">
			<li class="c-breadcrumbs__item">
			<a href="{% url 'bbs:index' %}">
				<i class="icon-home3"></i>HOME
			</a>
			</li>
		</ol>
		</div>
	</div>
	{% include './include/l_author.html' %}
</main>
{% include './include/l_footer.html' %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
<script>
const slider = document.querySelector(".p-hero__slider");
const slideWrap = document.querySelector(".p-hero__slide-wrap");
const headerLeft = document.querySelector(".l-header__left");
const headerIcons = document.querySelector(".l-header__icons");
const heroCatch = document.querySelector(".p-hero__catch");
const tl = gsap.timeline();
tl.fromTo(slideWrap, 1.2, { opacity: 0, y: 100 }, { opacity: 1, y: 0, ease: Power2.easeInOut })
.fromTo(headerLeft, 1.2, { opacity: 0, x: 30 },{ opacity: 1, x: 0, ease: Power2.easeInOut },"-=1.2")
.fromTo(headerIcons, 1.2, { opacity: 0, x: -30 },{ opacity: 1, x: 0, ease: Power2.easeInOut },"-=1.2")
.fromTo(heroCatch, .6, { opacity: 0 },{ opacity: 1 });
</script>
<script>
if ('serviceWorker' in navigator) {
	window.addEventListener('load', function() {
		navigator.serviceWorker.register('sw.js').then(function() { console.log('Service Worker Registered');
		},function(err) {
		console.log('ServiceWorker registration failed: ', err);
		});
	});
}
</script>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script defer src="/static/js/main.js?{% now 'U' %}"></script>
<script type="application/ld+json">[{"@context": "https://schema.org","@type": "SiteNavigationElement","hasPart": [{"@type": "WebPage","name": "HOME","url": "https://sohtani.pythonanywhere.com/"},{"@type": "CollectionPage","name": "PYTHON","url": "https://sohtani.pythonanywhere.com/category/python/"},{"@type": "CollectionPage","name": "TOOL","url": "https://sohtani.pythonanywhere.com/category/tool/"},{"@type": "WebPage","name": "FITNESS","url": "https://sohtani.pythonanywhere.com/fitness/"},{"@type": "ContactPage","name": "CONTACT","url": "https://sohtani.pythonanywhere.com/contact/"},{"@type": "WebPage","name": "GitHub","url": "https://github.com/shim369"}]}]</script>
<script type="application/ld+json">{"@context": "https://schema.org","@type": "Blog","blogPost": [{"@type": "BlogPosting","headline": "WEB DEVELOPMENT AND LIFE BLOG","description": "TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.","url": "https://sohtani.pythonanywhere.com/","mainEntityOfPage": {"@type":"WebPage","@id":"https://sohtani.pythonanywhere.com/"},"datePublished": "2022-11-04","image": {"@type": "ImageObject","url": "https://sohtani.pythonanywhere.com/media/logo.jpg","width": "254","height": "83"},"author": {"@type": "Person","name": "S Ohtani","url": "https://github.com/shim369"},"publisher": {"@type": "Organization","name": "TECH BLOG","logo":{"@type": "ImageObject","url": "https://sohtani.pythonanywhere.com/media/logo.jpg","width": "254","height": "83"}}}]}</script>
<script type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type": "ListItem","position": 1,"item": {"@id": "https://sohtani.pythonanywhere.com/","name": "home"}}]}</script>
<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-C4QW4L4G4R"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-C4QW4L4G4R');
</script></body>
</html>