{% load static %}<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<title>TECH BLOG</title>
<meta property="og:title" content="TECH BLOG">
<meta property="og:type" content="website">
<meta property="og:description" content="TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.">
<meta property="og:image" content="https://sohtani.pythonanywhere.com/media/icon-b.png">
<meta property="og:url" content="https://sohtani.pythonanywhere.com/">
<meta property="og:site_name" content="TECH BLOG">
<meta property="og:locale" content="en">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="TECH BLOG">
<meta name="twitter:title" content="TECH BLOG">
<meta name="twitter:description" content="TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.">
<meta name="twitter:image" content="https://sohtani.pythonanywhere.com/media/og-image.png">
<meta name="twitter:url" content="https://sohtani.pythonanywhere.com/">
<meta name="description" content="TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.">
<meta name="theme-color" content="#161719">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="dns-prefetch" href="https://www.googletagmanager.com">
<link rel="canonical" href="https://sohtani.pythonanywhere.com/">
<link rel="apple-touch-icon" href="/media/icon-s.png">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
<link rel="manifest" href="/static/json/manifest.json">
</head>
<body id="top">
<div class="l-wrapper">
{% include './include/l_header.html' %}
<main class="l-main">
	<section class="p-hero">
		<div class="p-hero__container">
			<div class="p-hero__catch">
			<h1 class="p-hero__h1"><img src="/media/h1.svg?{% now 'U' %}" width="798" height="156" alt="WEB DEVELOPMENT AND LIFE BLOG"></h1>
			<p class="p-hero__text">This is a blog where I output web technologies and tools I have learned in my daily life.<br>It is only a small amount of notes, so you will only get a hint or two,<br>but I hope you will visit here from time to time. Thank you from Japan.</p>
			</div>
			<div class="p-hero__slide-wrap">
				<div class="p-hero__slide-box">
					<ul class="p-hero__slideshow">
						<li>
							<picture class="p-hero__picture current">
								<source srcset="/media/phone.webp" type="image/webp">
								<img src="/media/phone.png" alt="TECH BLOG phone" width="498" height="474">
							</picture>
						</li>
						<li>
							<picture class="p-hero__picture current">
								<source srcset="/media/tablet.webp" type="image/webp">
								<img src="/media/tablet.png" alt="TECH BLOG tablet" width="498" height="474">
							</picture>
						</li>
						<li>
							<picture class="p-hero__picture current">
								<source srcset="/media/desktop.webp" type="image/webp">
								<img src="/media/desktop.png" alt="TECH BLOG desktop" width="498" height="474">
							</picture>
						</li>
					  </ul>
				</div>
			</div>
		</div>
	</section>
	<div class="l-contents">
		<div class="l-container">
		<p class="l-contents__title">BLOG</p>
		<div class="l-container__inner">
		<article class="l-article u-bg-none">
			{% include './include/c_card.html' %}
			{% include './include/c_pagination.html' %}
		</article>
		{% include './include/l_aside.html' %}
		</div>
		</div>
	</div>
	{% include './include/l_author.html' %}
</main>
{% include './include/l_footer.html' %}
</div>
<div class="c-loading-wrapper">
	<svg class="c-loading-wrapper__svg" width="235" height="29" viewBox="0 0 235 29" xmlns="http://www.w3.org/2000/svg">
		<g>
		<path d="M24.32 27.28V29H0V27.28H9.04V6.43999H1.12V1.03999H23.2V6.43999H15.28V27.28H24.32Z" fill="#DADADA"/>
		<path d="M27.7759 27.28V1.03999H47.9359V6.6H34.0159V12.36H46.5359V17.68H34.0159V23.48H48.3759V27.28H52.2559V29H23.8959V27.28H27.7759Z" fill="#DADADA"/>
		<path d="M79.9478 27.28V29H50.5078V27.28H59.1078C56.9745 26.0267 55.2945 24.3333 54.0678 22.2C52.8678 20.04 52.2678 17.6 52.2678 14.88C52.2678 10.7733 53.6811 7.33333 56.5078 4.55999C59.3611 1.78666 62.8411 0.399994 66.9478 0.399994C71.5345 0.399994 75.3745 2.14666 78.4678 5.63999L74.5878 10.04C72.6145 7.58666 70.1611 6.35999 67.2278 6.35999C64.8811 6.35999 62.8678 7.13333 61.1878 8.68C59.5345 10.2 58.7078 12.2667 58.7078 14.88C58.7078 17.4667 59.4945 19.5467 61.0678 21.12C62.6411 22.6933 64.5478 23.48 66.7878 23.48C69.8545 23.48 72.3611 22.2667 74.3078 19.84L78.3078 23.96C77.1345 25.32 75.8145 26.4267 74.3478 27.28H79.9478Z" fill="#DADADA"/>
		<path d="M110.441 27.28V29H100.761V18H89.6409V29H79.9609V27.28H83.4009V1.03999H89.6409V12.72H100.761V1.03999H107.001V27.28H110.441Z" fill="#DADADA"/>
		<path d="M120.99 27.28V29H110.43V27.28H120.99Z" fill="#DADADA"/>
		<path d="M149.217 27.28V29H120.537V27.28H124.417V1.03999H135.297C137.19 1.03999 138.817 1.26666 140.177 1.71999C141.563 2.17333 142.603 2.78666 143.297 3.55999C144.55 4.99999 145.177 6.62666 145.177 8.44C145.177 10.6267 144.47 12.2533 143.057 13.32C142.577 13.6933 142.243 13.9333 142.057 14.04C141.87 14.12 141.537 14.2667 141.057 14.48C142.79 14.8533 144.163 15.64 145.177 16.84C146.217 18.0133 146.737 19.48 146.737 21.24C146.737 23.88 145.697 25.8933 143.617 27.28H149.217ZM130.657 23.72H134.937C136.723 23.72 138.057 23.5067 138.937 23.08C139.843 22.6267 140.297 21.76 140.297 20.48C140.297 19.1733 139.817 18.32 138.857 17.92C137.923 17.4933 136.417 17.28 134.337 17.28H130.657V23.72ZM130.657 12.36H133.617C135.35 12.36 136.63 12.1733 137.457 11.8C138.31 11.4267 138.737 10.6267 138.737 9.39999C138.737 8.14666 138.35 7.31999 137.577 6.91999C136.803 6.51999 135.497 6.31999 133.657 6.31999H130.657V12.36Z" fill="#DADADA"/>
		<path d="M174.699 27.28V29H148.779V27.28H152.659V1.03999H158.899V23.44H170.819V27.28H174.699Z" fill="#DADADA"/>
		<path d="M204.251 27.28V29H171.211V27.28H180.131C177.944 26.0267 176.211 24.3067 174.931 22.12C173.678 19.9333 173.051 17.5067 173.051 14.84C173.051 10.7333 174.464 7.30666 177.291 4.55999C180.118 1.78666 183.598 0.399994 187.731 0.399994C191.864 0.399994 195.344 1.78666 198.171 4.55999C200.998 7.30666 202.411 10.7333 202.411 14.84C202.411 17.5067 201.771 19.9333 200.491 22.12C199.211 24.3067 197.491 26.0267 195.331 27.28H204.251ZM196.051 14.88C196.051 12.3733 195.251 10.24 193.651 8.47999C192.051 6.71999 190.078 5.83999 187.731 5.83999C185.411 5.83999 183.451 6.71999 181.851 8.47999C180.251 10.24 179.451 12.3733 179.451 14.88C179.451 17.36 180.251 19.48 181.851 21.24C183.451 22.9733 185.411 23.84 187.731 23.84C190.078 23.84 192.051 22.9733 193.651 21.24C195.251 19.48 196.051 17.36 196.051 14.88Z" fill="#DADADA"/>
		<path d="M234.258 27.28V29H204.258V27.28H212.938C210.804 26.0267 209.124 24.3333 207.898 22.2C206.698 20.04 206.098 17.6 206.098 14.88C206.098 10.7733 207.511 7.33333 210.338 4.55999C213.191 1.78666 216.618 0.399994 220.618 0.399994C224.644 0.399994 228.138 1.71999 231.098 4.35999L227.858 9.03999C226.604 7.94666 225.444 7.19999 224.378 6.79999C223.338 6.37333 222.204 6.15999 220.978 6.15999C218.604 6.15999 216.604 6.97333 214.978 8.59999C213.351 10.2 212.538 12.32 212.538 14.96C212.538 17.6 213.311 19.72 214.858 21.32C216.431 22.8933 218.298 23.68 220.458 23.68C222.618 23.68 224.418 23.2667 225.858 22.44V14.76H232.138V24.68C231.231 25.6933 230.151 26.56 228.898 27.28H234.258Z" fill="#DADADA"/>
		</g>
		</svg>		
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
window.addEventListener( 'load', () => {
	const tl = gsap.timeline()
	tl.fromTo(".c-loading-wrapper",{ opacity: 1 },{ opacity: 0, display:"none", duration: 1, delay: 1.2 })
	.fromTo(".p-hero__slide-wrap", .8, { opacity: 0 }, { opacity: 1 })
	.fromTo(".p-hero__catch", .3, { opacity: 0, y: -50 },{ opacity: 1, y: 0 })
}, false)
</script>
<script>
let timer = 3500
let imgLists = document.querySelectorAll('.p-hero__slideshow li')
imgLists[0].classList.add('show')
let imgNum = 0
function showImg () {
	for (let i = 0; i < imgLists.length; i++) {
		imgLists[i].classList.remove('show')
	}
	if (imgNum >= imgLists.length - 1) {
		imgNum = 0
	} else {
		imgNum++
	}
	imgLists[imgNum].classList.add('show')
	slideTimer()
}
function slideTimer() {
	setTimeout(showImg, timer)
}
slideTimer()
</script>
<script defer src="/static/js/main.js?{% now 'U' %}"></script>
<script type="application/ld+json">[{"@context": "https://schema.org","@type": "SiteNavigationElement","hasPart": [{"@type": "WebPage","name": "HOME","url": "https://sohtani.pythonanywhere.com/"},{"@type": "CollectionPage","name": "PYTHON","url": "https://sohtani.pythonanywhere.com/category/python/"},{"@type": "CollectionPage","name": "TOOL","url": "https://sohtani.pythonanywhere.com/category/tool/"},{"@type": "WebPage","name": "FITNESS","url": "https://sohtani.pythonanywhere.com/fitness/"},{"@type": "ContactPage","name": "CONTACT","url": "https://sohtani.pythonanywhere.com/contact/"},{"@type": "WebPage","name": "GitHub","url": "https://github.com/shim369"}]}]</script>
<script type="application/ld+json">{"@context": "https://schema.org","@type": "Blog","blogPost": [{"@type": "BlogPosting","headline": "WEB DEVELOPMENT AND LIFE BLOG","description": "TECH BLOG is a blog that publishes web development and a part of life.In web development, Python, Django, Figma are the main categories.","url": "https://sohtani.pythonanywhere.com/","mainEntityOfPage": {"@type":"WebPage","@id":"https://sohtani.pythonanywhere.com/"},"datePublished": "2022-11-04","image": {"@type": "ImageObject","url": "https://sohtani.pythonanywhere.com/media/logo.jpg","width": "254","height": "83"},"author": {"@type": "Person","name": "S Ohtani","url": "https://github.com/shim369"},"publisher": {"@type": "Organization","name": "TECH BLOG","logo":{"@type": "ImageObject","url": "https://sohtani.pythonanywhere.com/media/logo.jpg","width": "254","height": "83"}}}]}</script>
<script>
if ('serviceWorker' in navigator) {
	window.addEventListener('load', function() {
		navigator.serviceWorker.register('sw.js').then(function() { console.log('Service Worker Registered');
		},function(err) {
		console.log('ServiceWorker registration failed: ', err);
		});
	});
}
</script>
<!-- Google tag (gtag.js) -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-C4QW4L4G4R"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-C4QW4L4G4R');
</script>
</body>
</html>