.c-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	.c-card {
		width: calc((100% - 4%)/3);
		background: #d1d1d17d;
		margin: 0 2% 50px 0;
		position: relative;
		word-break: break-all;
		transition: all .8s ease;
		box-shadow: rgb(50 50 93 / 10%) 0px 13px 27px -5px, rgb(0 0 0 / 10%) 0px 8px 16px -8px;
		cursor: pointer;
		@media screen and (max-width: 1300px) {
			margin-right: 4%;
			width: 48%;
		}
		@media screen and (max-width: 800px) {
			margin-right: 0;
			width: 100%;
		}
		&:hover {
			box-shadow: none;
				img {
					transform:scale(1.1);
				}
		}
		&:nth-of-type(3n) {
			margin-right: 0;
			@media screen and (max-width: 1300px) {
				margin-right: 4%;
			}
			@media screen and (max-width: 800px) {
				margin-right: 0;
			}
		}
		&:nth-of-type(2n) {
			@media screen and (max-width: 1300px) {
				margin-right: 0;
			}
			@media screen and (max-width: 800px) {
				margin-right: 0;
			}
		}
		&__link {
			color: $base_color;
			font-weight: normal;
		}
		&__img {
			width: 100%;
			height: 160px;
			overflow:hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all .8s ease;
			}
		}
		&__text {
			padding: 20px;
		}
		&__category {
			position: absolute;
			bottom: 0;
			right: 0;
			display: grid;
			background: $square_light;
			color: $gray2;
			padding: 5px 10px;
			font-family: $font_en;
			text-transform: uppercase;
		}
		&__title {
			line-height: 1.3;
			font-size: 1.2rem;
			margin: 0 0 15px;
			font-weight: 400;
			@media screen and (max-width: 800px) {
				height: auto;
			}
		}
		&__time {
			color: $base_color;
			text-align: left;
    		display: block;
			i {
				margin-right: 3px;
			}
		}
	}
}
