<header class="l-header">
	<div class="l-header__container">
		<div class="l-header__left">
			<p class="l-header__logo">
				<a href="{% url 'bbs:index' %}">
					<img src="/media/logo.svg" width="234" height="30" alt="TECH BLOG">
				</a>
			</p>
			<nav class="l-header__nav">
				<ul class="l-header__list">
					{% if articles or article %}{% for category in category_list %}<li class="l-header__item"><a class="l-header__link" href="{% url 'bbs:category' category %}">{{ category.name }}</a></li>{% endfor %}{% endif %}
				</ul>
			</nav>
		</div>
		<ul class="l-header__icons">
			<li class="l-header__icons__item">
				<a class="l-header__icons__link" href="/fitness/" title="fitness">
					<i class="icon-fitness"></i>
				</a>
			</li>
			<li class="l-header__icons__item">
				<a class="l-header__icons__link" href="{% url 'bbs:contact_form' %}" title="contact">
					<i class="icon-mail4"></i>
				</a>
			</li>
			<li class="l-header__icons__item">
					<a class="l-header__icons__link" href="https://github.com/shim369" target="_blank" title="github">
						<i class="icon-github"></i>
				</a>
			</li>
		<!--<li class="l-header__icons__item">
				<a class="l-header__icons__link" href="" target="_blank" itemprop="url">
						<i class="icon-instagram"></i>
				</a>
			</li> -->
		</ul>
		<div class="l-header__sp-nav">
			<div class="l-header__menu-btn">
				<span data-txt-open="M" data-txt-close="C"></span>
				<span data-txt-open="E" data-txt-close="L"></span>
				<span data-txt-open="N" data-txt-close="O"></span>
				<span data-txt-open="U" data-txt-close="S"></span>
				<span data-txt-close="E"></span>
			</div>
			<nav class="l-header__menu">
			</nav>
		</div>
	</div>
</header>